<p *ngIf="currentUser === ''">
    <input type="text" [(ngModel)]="userID" placeholder="Username">
    <br>

    <button (click)="login()">Login</button>
    <br>
</p>


<span *ngIf="currentUser !== ''">
    Logged in as: {{currentUser}}
    <button (click)="logout()">Logout</button>    
    <br>
<div class="Ticket">
    <h3>Subject: {{focusTicket.title}}</h3>
    <br>
    <p>Opened by: {{focusTicket.openedUserId}}</p>
    <p>Issue Description: {{focusTicket.problemDescription}}</p>
    <p *ngIf="focusTicket.isOpen !== true">Ticket status: Resolved</p>
    <p *ngIf="focusTicket.isOpen === true">Ticket status: Open</p>
    <p *ngIf="focusTicket.isOpen !== true">This ticket was resolved by {{focusTicket.resolvedUserId}}</p>
    <p *ngIf="!focusTicket.isOpen">Resolution steps: {{focusTicket.resolution}}</p>
    {{currentUser}}
    <span *ngIf="focusTicket.isOpen">
        
       
    </span>
<span *ngIf="!focusTicket.isOpen">
        Resolved by: {{focusTicket.resolvedUserId}} <button *ngIf="currentUser !== ''" (click)="swapTicketOpenStatus(focusTicket.id, focusTicket, true)">Reopen ticket</button>
    </span>
    <p *ngIf="focusTicket.isOpen">Please enter your resolution steps.</p>
    <input *ngIf="focusTicket.isOpen" type ="text" [(ngModel)]="resolution">
    <button *ngIf="focusTicket.isOpen" (click)="updateResolution(getId(),focusTicket)">Resolve</button>
</div>