<input type="text" placeholder="Search tickets by title" [(ngModel)]="searchTerm" (keyup)="searchTicketsByTitle(searchTerm)">
<br>

<p *ngIf = "currentUser === ''">
    <input type="text" [(ngModel)]="userID" placeholder="Username">
    <br>
    <button (click)="login()">Login</button>
</p>
<br>

<p *ngIf="currentUser !== ''">
    Logged in as: {{currentUser}}
    <button (click)="logout()">Logout</button>
    <br>

    Show only favorites: <input type="checkbox" id="favSearchCheckBox" (click)="searchTicketsByTitle(searchTerm)">
    <br>
    Show only open tickets: <input type="checkbox" id="openStatusSearchCheckBox" (click)="searchTicketsByTitle(searchTerm)">
    
</p>

<div *ngFor="let ticket of searchedTickets">
    <p>
        Ticket ID: {{ticket.id}}  - Title: {{ticket.title}} Open status: {{ticket.isOpen}}
        <button *ngIf="currentUser !== '' && !isFavorited(ticket.id)" (click)="createFavorite(ticket.id)">Favorite</button>
        <button *ngIf="currentUser !== '' && isFavorited(ticket.id)" (click)="deleteFavorite(ticket.id)">Remove from favorites</button>
        <br>

        Issue: {{ticket.problemDescription}}
        <br>


        Opened by: {{ticket.openedUserId}} - Resolved by: {{ticket.resolvedUserId}}
        <button (click)="getTicket(ticket)" ng-click="grabbedTicket" >View Ticket</button>


        
        
    </p>
</div>
