div {
  border: solid;
}

.buttonStyle {
  transition-duration: 0.4s;
  border-radius: 8px;
}
  
.buttonStyle:hover {
  background-color: #43484f; /* Green */
  color: white;
}

input[type=text] {
  width: 18%;
  height: 2%;
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 4px;
  padding: 2px 0px 2px 5px;
  font-size: 16px;
}

input[name=search] {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 4px 4px;
  padding: 5px 0px 5px 30px;
  background-repeat: no-repeat;
}

input[name=search]:focus {
  transition: width 0.4s ease-in-out;
  width: 100%;
}